<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sagiri.mapper.EmployeeMapper">
    <select id="getEmployeeByEmpNo" resultType="com.sagiri.entity.Employee">
        select * from employee where emp_no = #{empNo}
    </select>

    <resultMap id="userInfo" type="com.sagiri.vo.UserInfoVo">
        <result column="emp_no" property="empNo"/>
        <result column="role" property="role"/>
        <result column="real_name" property="username"/>
        <result column="pl_name" property="PLName"/>
        <result column="pm_name" property="PMName"/>
    </resultMap>

    <select id="getEmployeeInfo" resultMap="userInfo">
        SELECT
        e.emp_no as emp_no,
        e.role as role,
        e.real_name as real_name,
        pl.real_name AS pl_name,
        pm.real_name AS pm_name
        FROM employee e
        LEFT JOIN employee pl ON e.pl_id = pl.id
        LEFT JOIN employee pm ON e.pm_id = pm.id
        WHERE e.id = #{id}
    </select>

    <insert id="insertEmployee" parameterType="com.sagiri.entity.Employee"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee (
        emp_no, password, real_name, pm_id, pl_id,
        role, phone, base_salary, position_salary,
        housing_subsidy, car_subsidy, meal_subsidy, other_subsidy,
        status, created_at, deleted
        ) VALUES (
        #{empNo}, #{password}, #{realName}, #{pmId}, #{plId},
        #{role}, #{phone}, #{baseSalary}, #{positionSalary},
        #{housingSubsidy}, #{carSubsidy}, #{mealSubsidy}, #{otherSubsidy},
        1, NOW(), 0
        )
    </insert>

    <update id="updateEmpNoById">
        UPDATE employee
        SET emp_no = #{empNo}
        WHERE id = #{id}
    </update>

    <resultMap id="allPM" type="com.sagiri.vo.PM">
        <id column="id" property="id"/>
        <result column="pm_name" property="PMName"/>
    </resultMap>

    <select id="getAllPM" resultMap="allPM">
        SELECT id, real_name as pm_name FROM employee WHERE role = 2
    </select>

    <resultMap id="PLByPMId" type="com.sagiri.vo.PL">
        <id column="id" property="id"/>
        <result column="pl_name" property="PLName"/>
    </resultMap>

    <select id="getPLByPMId" resultMap="PLByPMId">
        SELECT id, real_name as pl_name FROM employee WHERE role = 1 AND pm_id = #{pmId}
    </select>
</mapper>